<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  {% block title %}<title>Домашняя работ модуль Е2</title>{% endblock %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
  {% block scc %}{% endblock %}
  
</head>

<body>

  <div class="container">
    <div class="bg-secondary row">
      <div class="header-logo">
        <p> Тут было бы лого </p>
      </div>
      <div class="header-text col-sm-8">
        <h1>My homework E2</h1>
      </div>
      <div class="text-right adminka">
        {% block log-reg %}
        {% if username %}
          <h6>Привет, {{ username }}!</h6> <a class="btn btn-success" href="/logout">Выйти</a>
        {% else %}
          <a class="btn btn-success" href="/admin">Админка</a>
        {% endif %}
        {% endblock %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% block sidebar %}
        <div class="navbar navbar-expand-sm bg-light justify-content-center">
          <a class="navbar-brand" href="/">Форма отправки письма</a>
          <a class="navbar-brand" href="/mails">Последние письма</a>
        </div>
       {% endblock %}
      </div>
      <div class="content1 col-sm-12 ">
      {% block content %}
        <p>Добро пожаловать.</p>
      {% endblock %}
      </div>
    </div>

  </div>
</body>
</html>